:root {
    --primary-color: #3498db;
    --secondary-color: #2ecc71;
}
body {
    background: var(--secondary-color);
}

.app__message {
    h1 {
        font-size: 2rem;
        color: var(--primary-color);
    }
    .btn {
        background-color: var(--primary-color);
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
}